[2019-09-26 20:01] jetkov opened #1 "Implement better pin mapping method"
Using preprocessor to include certain parts of PinNames.h is kind of jank

[2019-09-26 20:13] jetkov opened #2 "Create non-blocking NeoPixel driver"

[2019-09-26 20:20] jetkov opened #3 "Create NeoPixel matrix display control library"
We are planning to use a 8x8in 2D array of NeoPixels as our LED indicator for the automation task. A library will be needed with function calls to setup the matrix and display red, blue, and green on this display at the minimum.

Nice to have:
- Ability to flash on and off with set colour
- Ability to display 1 or 2 alphanumeric characters

[2019-09-28 00:44] jetkov opened #4 "Add servo control library"

[2019-09-28 00:49] jetkov opened #5 "Create absolute PWM encoder driver with support for rollover"

[2019-09-28 00:54] jetkov opened #6 "Create better PID controller library"

[2019-09-28 00:56] jetkov opened #7 "Add ramping to motor library"

[2019-09-28 00:56] jetkov opened #8 "Add NUCLEO-F091RC build support"

[2019-09-28 01:03] jetkov opened #9 "Investigate Ethernet UDP interface usability"

[2019-10-01 14:37] jetkov opened #10 "Investigate using AEAT-8800 encoder"

[2019-10-02 17:28] jetkov commented on #5
In the 2019 season a PwmIn library from the MBED community was used. It was modified to enable a configurable rolling average on the input, since our signal was relatively noisy. The signal capture and processing could be improved.

The new driver should account for when the encoder rolls over 360 degrees (its full range) so that the driver outputs the true degrees of rotation (ie. -20 or +390 deg

[2019-10-02 17:30] jetkov opened #12 "Finalize 2020 architecture"

[2019-10-02 17:33] jetkov commented on #4
Similar to the firmware training

[2019-10-02 17:42] jetkov opened #13 "Set up 2020 repository with README and additional documentation"

[2019-10-04 01:00] jetkov commented on #10
https://www.digikey.ca/product-detail/en/avago-technologies-us-inc/AEAT-8800-Q24/516-3787-ND/6681014?utm_adgroup=&mkwid=sn6OffFNG&pcrid=313285095753&pkw=&pmt=&pdv=c&productid=6681014&slid=&gclid=Cj0KCQjwuNbsBRC-ARIsAAzITufuqAM0Hoo5p29aAmf3YrN6C0HebiIRl1GKdq-nG3J9-jIzIWJyyYAaAvurEALw_wcB

[2019-10-04 01:02] jetkov commented on #2
https://learn.adafruit.com/dma-driven-neopixels

[2019-10-04 04:01] Aethelred-The-Ready commented on #2
I found a way to do this super easy, but I would need to add a little bit of external processing equipment, or I could do it in a slightly more complex way that would use 4x the RAM. Either way, the code is actually quite simple, so it should be all right.
The processing equipment is basically described here, a little pulse generator https://github.com/benheck/SPI-Neopixel/blob/master/schematic_im

[2019-10-04 05:04] jetkov commented on #2
That's a pretty neat solution! I would just go with the 4x method though (are you talking about SPI bit banging?) since we have a ton of RAM with the F446RE and we can test it out easily with the hardware we already have.

[2019-10-04 12:41] Aethelred-The-Ready commented on #2
Yup, bit banging, the tolerances for neopixels are low enough. We will be fine for RAM (we could run more matrices than we could transmit to with 128K). I am a little worried about the calculations involved, but i'll check them later today with some neopixels. It has to be rerun every 6 ms.

[2019-10-04 15:04] jetkov commented on #2
Great. Also don’t feel rushed on this, we have plenty of time.

On Fri, Oct 4, 2019 at 08:41 Aethelred-The-Ready <notifications@github.com>
wrote:

[2019-10-07 03:37] jetkov opened #14 "Improve CI: Add linting etc."

[2019-10-07 03:58] jetkov opened #15 "Experiment with claw force sensor"

[2019-10-19 05:57] jetkov opened #17 "Clean up makefile"
Some definitions in here as gcc arguments should be in a configuration header instead, etc.

[2019-10-25 03:38] jetkov opened #18 "Investigate using timer hardware to capture PWM information"
Measuring a PWM signal period and duty cycle using timers in capture mode should be more precise and efficient than using rising/falling edge interrupts.

[2019-10-29 07:03] jetkov opened #19 "Investigate using timer hardware for quadrature decoding"

[2019-10-29 07:05] jetkov commented on #19
Using the STM32 built in timer hardware to decode quadrature encoder signals should be more efficient and would be cleaner than the current method of using rising/falling edge interrupts.

[2019-11-01 00:25] jetkov opened #20 "Update Arm board target files to reflect STM32F446VET6 MCU selection"
Unlike the rest of the controller board which are using the 64-pin version of the STM32F446, the Arm is using the 100-pin version so it will need a different custom target configuration.

[2019-11-10 22:19] tandronescu commented on #5
No longer need to do this since we have the limit switches on the arm to serve as the initial calibration point.

[2019-11-12 01:23] #5 closed

[2019-11-12 01:32] #13 closed

[2019-11-12 01:33] jetkov opened #21 "Define CAN failover protocol"

[2019-11-12 01:34] jetkov opened #22 "Allocate CAN IDs"

[2019-11-12 01:38] jetkov opened #23 "Develop better CAN driver"
- We should implement handler functions that make it easier to send and receive messages with a payload of a single variable datatype
- Should handle two CAN interfaces with a failover mode

[2019-11-15 00:49] KrillNye opened #24 "Update readme to strongly advocate for Windows Subsystem"
It was way easier to set up a windows subsystem.

[2019-11-15 01:15] KrillNye commented on #4
ayy, its done.

[2019-11-15 01:21] KrillNye opened #25 "Investigate AEAT-6012-A06"

[2019-11-15 01:23] tandronescu commented on #6
Main improvement will be adding an Autotuning library which generates tuning parameters using a relay method of oscillating the output. By analyzing how far apart the peaks are, and how big they are in relation to the output changes, the Autotuner can tell the difference between one type of process and another. See explanation: http://brettbeauregard.com/blog/2012/01/arduino-pid-autotune-library/

[2019-11-15 20:22] #24 closed

[2019-11-15 21:12] jetkov opened #27 "Review EE pin selections"

[2019-11-18 03:48] jetkov commented on #4
Time to make a pull request then :)

[2019-11-18 08:12] jetkov commented on #23
https://drive.google.com/file/d/1MSh121hMTI4BJESQDF_F4vjrMP9cAI3t/view?usp=drivesdk

[2019-11-29 02:01] Aethelred-The-Ready commented on #2
Tried just normal SPI in mbed, too slow by about half, would consistently just revert to inactive high every 4 bits which would confuse the LEDs.
Started to build out a pulse generator to take in a slower SPI signal and convert it into the proper LED signal, but it would require around 3~4 ICs on a PCB, which is just a hassle.
Two ideas:
Get down into the lower level code, speed up the DMA to work

[2019-11-30 21:58] wmmc88 commented on #2
Do you know what the limiting factor is in the spi bit banging method?

[2019-11-30 22:12] wmmc88 commented on #23
Just some thoughts:
- default ifnames will be can0 and can1
- How often would we realistically miss either heartbeat?
- when u write `awk`, you mean `ack` right?

[2019-11-30 22:13] wmmc88 commented on #23
looks solid. do we have people to implement the jetson and firmware sides of this?

[2019-12-01 06:22] jetkov commented on #23
* I wrote CAN1 and CAN2 because that is what STM named them in the HAL. So on the firmware side at least we will call them this so not to cause confusion within the FW levels. But Jetson side can do whatever
* We shouldn't miss a beat unless our T is very small or we have a bug or an electrical disconnect
* `ack` yes. Was using `awk` too much on the cli at the time lool

[2019-12-01 06:32] wmmc88 commented on #23
we can actually just name the interfaces on the jetson to `can1` and `can2`

[2019-12-02 16:39] Aethelred-The-Ready commented on #2
No clue, just that the SPI DMA offered through mbed is too slow

[2020-01-24 09:36] jetkov opened #33 "Use EWMA method instead of rolling window average"
Use exponentially weighted moving average instead of rolling window average for smoothing

- No arrays required
- Less computationally complex

--> PwmIn, QEI averaging

[2020-01-24 12:36] wmmc88 commented on #33
What values r u using this for?

[2020-01-25 07:07] jetkov commented on #33
PWM period, PWM on time, quadrature pulse ROC

[2020-01-25 10:01] jetkov opened #34 "Configure target clocks"
- Set clock source to `USE_PLL_HSI` for meantime
- Confirm board HSE crystal values
- Compute PLL prescaler settings for 180 MHz CLK (update target `system_clock.c`)
- Move `CLOCK_SOURCE` definition to targets (Nucleo uses EXTC, boards use XTAL)

[2020-01-25 10:02] #12 closed

[2020-01-25 10:04] jetkov opened #35 "Configure target pin mappings"
- [x] Arm (also #20)
- [ ] Gimbal
- [ ] Safety
- [ ] Science

[2020-01-26 02:05] #17 closed

[2020-01-26 03:34] jetkov commented on #22
Allocated here: https://docs.google.com/spreadsheets/d/1-q8Ut22iqccHrx9dzZxglOa9t4iAxWaMrEmVZOrzj-8/edit?usp=sharing

[2020-01-26 03:34] #22 closed

[2020-01-26 23:07] wmmc88 commented on #33
we should look at using it for science sensor inputs too

[2020-01-28 07:15] jetkov commented on #6
Fixed in PR #29

[2020-01-28 07:15] #6 closed

[2020-01-28 07:27] jetkov opened #37 "Integrate CAN failover into CAN driver"

[2020-01-28 07:28] jetkov commented on #21
Defined here: https://drive.google.com/drive/u/1/folders/1gmpFHDXq63r8CvVokFuqfb_sM_eCH4NE

[2020-01-28 07:28] #21 closed

[2020-01-28 07:28] jetkov commented on #37
See protocol in #21

[2020-01-29 07:35] jetkov commented on #1
New targeting method is sufficient

[2020-01-29 07:35] #1 closed

[2020-01-29 07:42] #34 closed

[2020-01-31 01:42] jetkov opened #41 "Bring up PCBAs"
- [ ] Arm PCBA
- [ ] Science PCBA
- [ ] Gimbal PCBA
- [ ] Safety PCBA

--> Add comments below

[2020-01-31 01:43] jetkov commented on #27
- [ ] Arm
- [ ] Science
- [ ] Gimbal
- [ ] Safety

[2020-01-31 01:49] jetkov opened #42 "Write temperature sensor driver"

[2020-01-31 01:49] jetkov opened #43 "Write moisture sensor driver"

[2020-01-31 01:50] jetkov opened #44 "Add PID configuration API to Actuator class"

[2020-01-31 01:53] jetkov opened #45 "Complete Arm Controller application"
Will be complete when:

- [x] App can process incoming CAN messages
- [x] Passes CAN commands to Actuator handler to control joints
- [x] Provides position/velocity feedback to Jetson (partial - needs investigation)
- [x] Successfully operates Arm in open-loop mode (partial - needs investigation)
- [ ] Supports PID tuning over CAN (#44)

[2020-01-31 01:56] jetkov opened #46 "Complete Science controller application"
Will be complete when:

- [ ] Can process incoming CAN messages
- [ ] Handles CAN commands to control mechanisms
- [ ] Provides feedback to Jetson on mechanism positions/status
- [ ] Can successfully control the Science module to scoop/index dirt
- [ ] Provides all sensory feedback to Jetson over CAN

[2020-01-31 02:01] jetkov opened #47 "Complete Gimbtonomy controller application"
Will be complete when:

- [ ] Can accept incoming CAN messages
- [ ] Handles CAN commands to control the camera gimbal
- [ ] Handles CAN messages to control the LEDs
- [ ] Provides feedback to Jetson on controller status

[2020-02-02 06:41] jetkov commented on #20
Fixed in PR #49

[2020-02-02 06:41] #20 closed

[2020-02-09 21:59] jetkov opened #50 "Upgrade to MBED OS 6"
Current MBED OS version is relatively outdated

[2020-02-15 09:13] jetkov opened #53 "Force rebuild of target-specific files when changing build target"
Add recursive target file touch to Makefile.
Currently previous compiled target files could be used if not changed between switching targets causing build failure or unexpected behaviour.

Workaround: Run `make clean-all` before compiling new target.

[2020-02-23 00:53] #35 closed

[2020-02-23 20:10] #4 closed

[2020-03-22 15:37] wmmc88 opened #69 "Add functionality to do OTA firmware updates"
Add ability to do updates over CanBus (may keep it somewhat abstract so it'd work over other interfaces?). this would involve customizing the bootloader and embedding some sort of board id into the flash of each board. This would allow us to iterate code faster (no need to fumble with flashing boards and stuff).

[2020-03-22 15:38] wmmc88 commented on #69
Honestly this is like super overkill, but i'm gonna do it as a pet side project. probs will make just a seperate script or program to execute the update based off git hash or smth.

[2020-03-22 16:15] wmmc88 commented on #69
No bootloader mods actually have to be done.
https://www.st.com/resource/en/application_note/CD00167594-.pdf

can bootloader is already loaded:
https://www.st.com/resource/en/application_note/cd00264321-can-protocol-used-in-the-stm32-bootloader-stmicroelectronics.pdf

[2020-03-22 17:47] wmmc88 commented on #69
https://www.youtube.com/watch?v=cvKC-4tCRgw

[2020-04-06 02:55] yreda1999 commented on #44
this looks like fun. is it still open? if so could u explain a little more abt it

[2020-04-14 04:45] jetkov commented on #44
Hey Younes, sorry for the late reply. We want to be able to tune the PID parameters for each actuator over CAN, so we need to add an API to the actuator class to be able to do this... not just to update the parameters but also handle applying the parameters safely to not create a situation where the joint can be damaged.

[2020-04-14 04:47] jetkov commented on #44
If you take a look into the actuator class you can see that it uses the PID class to control the joint in the PID modes, but there is not exposure to update the parameters on-the-fly at the moment.

[2020-04-17 00:02] yreda1999 commented on #44
are we looking to change the tuning parameters on the fly? I am referring to the individual params of proportional, integral, differential.

[2020-04-17 00:05] wmmc88 commented on #44
Yeah. End goal is a rqt_reconfigure node that sends the commands to change to new p, I, d values.

[2020-04-17 00:23] yreda1999 commented on #44
ah i see, so we wanna be doing the autotune calculations on the jetson instead of on the pcbs. is that right?

[2020-04-24 05:32] yreda1999 commented on #44
@wmmc88 are we going to be using a mix of auto tuning along with manual tuning (on a per actuator basis). Will an actuator have to transition between manual and automatic tuning once a msg asking to update a pid parameter is received? I want to make sure i understand our intended use case so i dont miss any edge cases.

[2020-04-24 05:37] yreda1999 commented on #44
or rather are we not looking to run actuators in manual tuning mode but rather in adaptive tuning mode where we suggest pid params on the fly: https://playground.arduino.cc/Code/PIDLibraryAdaptiveTuningsExample/

[2020-04-24 23:43] wmmc88 commented on #44
Doubtful that we'll adaptively change pid gains within any given motion. But I'd defer that to @jetkov

[2020-04-26 00:23] wmmc88 commented on #44
@jetkov where is the autotune code and how exactly does it work? how does it fit into this issue?

[2020-04-26 17:29] wmmc88 opened #70 "integrate clang-format checks"
plan is to integrate clang-format checks into our ci. Probably will use the same `.clangformat` file [available in our ROS repo](https://github.com/uwrobotics/uwrt_mars_rover/blob/master/.clang-format)

[2020-04-26 17:31] wmmc88 opened #71 "integrate clang-tidy"
plan is to integrate clang-tidy checks into our ci. Probably will use the same .clangtidy file [available in our ROS repo](https://github.com/uwrobotics/uwrt_mars_rover/blob/master/.clang-tidy). since we use `make`, I'll probably need to add a step to use bear to generate a compilation database json.

[2020-04-26 17:38] wmmc88 opened #72 "migrate CI to Github Actions"
travis currently provides us with 5 concurrent jobs, whereas github actrions provides 20 concurrent jobs for free.

[2020-04-27 02:07] jetkov commented on #44
@wmmc88 just had a call to @yreda1999 to talk about this.... Auto-tune code was ported from another MBED project by @tandronescu and hasn't yet been tested on a limited-range actuator like the arm. For this issue just being able to tune the PID params over CAN is the main goal but secondarily to manage auto-tuning.

[2020-04-27 02:10] jetkov commented on #69
Yes bootloader is present, we just need to be able to pull the boot0 pin in the right direction (if not already). Should tell EE to add a jumper for this if we need it to be configurable.

[2020-04-27 02:25] wmmc88 commented on #69
Of note for the can bootloader:

[code]

It only works on CAN2.

[2020-04-27 02:27] wmmc88 commented on #69
@jetkov I dont think we want a jumper. The point of this issue would be to update firmware without needing to touch the boards at all(assume bad accessibility).

I think we can have smth to jump to the bootloader from app

[2020-04-27 07:11] jetkov commented on #72
Sick

[2020-04-27 07:16] jetkov commented on #70
Duplicate #14

[2020-04-27 07:17] jetkov commented on #70
Thanks for initiating these CI improvements

[2020-04-27 12:28] wmmc88 commented on #14
Superceded by #70, #71

[2020-04-27 12:28] #14 closed

[2020-04-28 01:35] wmmc88 commented on #50
mbed-os-5.15.2 is latest version now. we're currently on 5.13.1. Is there a list of any modifications u made to the mbed source?

[2020-04-29 22:51] FK3wong opened #75 "Fix neopixel buffer implementation"
Writing to the neopixels currently uses an integer array.
Implement functionality to use an unsigned int to pass in data.

some context from April 26, 2020
"
I'll agree with Bob here on using an unsigned char (I prefer uint8). Using the integer array unnecessarily uses much more memory and makes the representation of a 'byte' confusing. Since we are always writing three bytes I would rather like a

[2020-04-30 00:04] FelixWLWong commented on #47
@jetkov How difficult would this task be? I think this task is pretty interesting but might take me a while depending on its difficulty. Instead of sending messages to the neopixel would we instead be sending handling CAN messages for the LED board (since the neopixels are being phased out)?

[2020-04-30 14:10] wmmc88 commented on #53
@jetkov do you know any way to reproduce this behaviour? is it just using the old target's `PeripheralPins.c` and `system_clock.c`?

[2020-04-30 14:56] wmmc88 commented on #53
it looks like its still compiling the new periph pin and system clock files, but the binaries are different. i suspect that its not including the correct header files in the target folder

[2020-04-30 15:38] wmmc88 commented on #53
Ok so im pretty sure what's happening is that the target header files changed when u switched targets, but there are no explicit dependencies from a c file on the target header files (only from other header files), meaning there's no dependency listed in a `.d` file, meaning make doesnt know to recompile those source files since it sees the file is already compiled. I'm not really sure what could

[2020-04-30 16:08] wmmc88 commented on #50
This should probably be put on hold. MBED 6 is in beta and I think it might be released within a couple of weeks.

[2020-05-01 14:58] #72 closed

[2020-05-02 05:42] jetkov commented on #53
I did it in a jank way in 2019. Basically I stored the command line flags into a file, and then compared these previous flags with the new flags each time make was run. If the target flag was different, I `touch`ed the files that needed to be recompiled.

[2020-05-02 05:42] jetkov commented on #53
https://github.com/uwrobotics/MarsRover2019-firmware/blob/master/makefile
See `COMPILE_FLAGS_TO_TRIGGER_TOUCH`, `TOUCH_ON_COMPILE_FLAGS_CHANGE`

[2020-05-02 05:45] jetkov commented on #53
When I transitioned the 2020 builds to separate the PinMap and other files into specific target folders (instead of what I had in 2019, which was `#ifdef`s in the PinMap file) I thought that this would fix that issue because different header paths are specified. But yeah I guess make doesn't care and what matters is the dependency.

[2020-05-02 05:46] jetkov opened #78 "Investigate STM32 simulation for FW dev"

[2020-05-02 05:47] jetkov commented on #78
Cool but not useful for us: https://simulator.mbed.com/#http
Interesting: https://beckus.github.io/qemu_stm32/

[2020-05-02 05:48] jetkov commented on #78
https://www.reddit.com/r/embedded/comments/53cnp0/software_for_simulating_arm_cortex_m4/

[2020-05-02 05:51] jetkov opened #79 "Define clear SOP and improve documentation"

[2020-05-02 05:54] jetkov commented on #79
@wmmc88 can you link any SOP documentation for SW side, besides whats in the SW README?

[2020-05-02 05:54] jetkov commented on #41
Not relevant atm. Will reopen later.

[2020-05-02 05:54] #41 closed

[2020-05-02 05:56] jetkov commented on #50
Okay cool. No modifications were made to MBED source.

[2020-05-02 05:57] wmmc88 commented on #53
Actually I think since we know its isolated to the target-specific header files, I can add a dependency on the target header files(including full path) for EACH make rule. The downside being it would force every file to be recompiled, when there are some that wouldn't need to be... but I dont think itd be easy to determine that dependency without manually listing out which src files depend on targ

[2020-05-02 06:03] wmmc88 commented on #50
I recall mods to queues. Smth ab mutexes

[2020-05-02 06:06] wmmc88 commented on #79
In terms of starting the system in ros?

[2020-05-02 06:12] jetkov commented on #45
Position/velocity feedback needs to be fixed/improved/tested. PID tuning over CAN is WIP (#44)

[2020-05-02 06:23] jetkov commented on #42
Temp sensor no longer used.

[2020-05-02 06:23] #42 closed

[2020-05-02 18:06] #43 closed

[2020-05-02 19:18] jetkov commented on #79
Oh no I mean guidelines for contributing, specifications followed etc. Like how you guys standardize units for example.

[2020-05-02 19:27] jetkov commented on #50
Looked through the log, the only changes made were:
- Change `\n` to `\r\n\` in embedded strings
- Delete target specific files that were moved to the "targets" directory

Any other changes are part of my CAN 'draft' PR which I'll probably change with your suggestion to not modify the source.

[2020-05-02 19:31] jetkov commented on #47
Hey @FelixWLWong @KrillNye is already working on this, you can check it in his PR. I don't know too much about the new LED board but I don't think it uses CAN. @KrillNye can you create an issue for writing the driver for the LED and add the information for that?

[2020-05-02 19:36] wmmc88 commented on #79
I don't think there's anything specific outside of following ROS conventions or anything in the readme. Haven't really formalized some sort of coding standard, nor do i think we need on formally at this point. As much as possible, I try to get people to follow this: http://wiki.ros.org/ROS/Patterns/Conventions

[2020-05-03 01:17] wmmc88 commented on #53
FML this doesnt work. I think what happens is that make sees the new target header file prerequisites and sees that they havent been modified since the last build, so it doesnt do anything.

I can't find or think of a different way to do it other than saving the last target run in a file like u did in 2019. Well... no way without switching to automake or cmake or bazel.

I'm gonna add back ur fix

[2020-05-03 01:45] a-gratton opened #80 "Create UBlox GPS Firmware"

[2020-05-04 04:26] jetkov commented on #79
Okay cool, and your linter is based on Google's style guide right?

[2020-05-04 04:28] jetkov commented on #53
Okay, thanks for looking into it. Tried to switch to cmake at the start of this season but was too painful. Maybe some day.

[2020-05-04 04:30] wmmc88 commented on #53
Lol itd be nice to use cmake cuz ros also uses cmake so people should be at least a little familiar

[2020-05-04 04:33] wmmc88 commented on #79
The clangformat(mostly whitspace formatting) is Google's but with 120 column limit instead of 80.

Clangtidy enforces some naming conventions, as well as a plethora of code style checks. Mostly the most popularly used ones with some small modification.

U can see the clangformat and clangtidy files in the root of the ros repo

[2020-05-04 04:34] wmmc88 commented on #79
For #70 and #71, I'll probably start with using the same files as a base cuz itd be nice to have uniformity between codebases. We can tweak it more once the pr is up

[2020-05-04 05:10] jetkov commented on #79
Sounds good, yeah I'd like to have uniformity as well. Obviously there will be some differences. Ex. the unit naming will not work for us because of integer types or float sizes

[2020-05-04 05:12] jetkov commented on #79
Not like that's covered by clang, but that an example of something I need to write up

[2020-05-04 05:13] jetkov commented on #53
I'll make an enhancement issue for it

[2020-05-04 05:14] jetkov opened #82 "Switch to CMake build system"

[2020-05-04 05:14] wmmc88 commented on #79
You'd be surprised at what u can configure clang tidy to do. You can even write custom checks for even more control.

[2020-05-04 05:17] wmmc88 commented on #53
Closed by #81

[2020-05-04 05:17] #53 closed

[2020-05-05 16:14] a-gratton opened #83 "Makefile doesn't handle filepaths with spaces, and builds fail on filepaths it does accept"
Error message using WSL trying to make in a filepath with spaces:

[code]

When using a filepath that has no spaces, build fails to compile with many repetitions of this type of error (tested using test-blinky and arm apps for target arm):
[code]

[2020-05-05 16:37] wmmc88 commented on #83
those seem to be two different errors. can u replicate on master?

[2020-05-05 17:00] a-gratton commented on #83
The second error was on master, the first was from my branch which is rebased onto master.

[2020-05-05 17:19] wmmc88 commented on #83
can u post the entire compile logs for the second issue? created a seperate ticket for it

[2020-05-05 17:36] wmmc88 commented on #83
wrt to ur first issue:
were spaces in paths an issue before recent makefile changes?

[2020-05-05 17:53] a-gratton commented on #83
No they weren't, directories with spaces work on the most recent commit before the makefile changes.

[2020-05-05 17:55] a-gratton commented on #83
Have you posted the ticket for the second issue? I don't see it from my end.

[2020-05-05 18:08] wmmc88 commented on #83
sorry i meant to tell you to create a seperate issue for it lol

[2020-05-05 18:08] wmmc88 commented on #83
i'll look into it after work tonight

[2020-05-05 18:20] a-gratton opened #84 "Build fails with "template with C linkage" errors"
Many errors are produced, in the form of:

[code]

And also in the form of:

[code]

[2020-05-07 02:28] jetkov commented on #84
Can you check the following just to be sure
[code]

[2020-05-07 16:41] a-gratton commented on #84
make is v 4.1, and arm-none is 15:6.3.1+svn253039-1build1 but apt-get tells me I have the latest version of it

[2020-05-07 17:40] wmmc88 commented on #84
Did u follow the readme to use the latest version of gcc arm?

[2020-05-07 20:19] wmmc88 commented on #84
@a-gratton I just built latest master on wsl. I believe u just didnt setup ur toolchain correctly. pls refer to the readme.

[2020-05-07 20:19] #84 closed

[2020-05-08 21:13] #83 closed

[2020-05-09 23:40] jetkov opened #89 "LED Matrix Driver"
- 3 RGB PWM

[2020-05-12 03:12] wmmc88 commented on #71
This is proving to be a little harder than initially thought because of small differences in compilation between clang and gcc. Since ARMCC is commercially licensed, I'm going to try to get native LLVM Clang toolchain working.

[2020-05-13 22:47] cindyli-13 opened #91 "ICM-20948 IMU Driver"

[2020-05-14 00:05] younesr1 opened #92 "PID tuning safety"
Populate the setPIDTuningMode() function.
The function should keep track of whether the arm is in tuning mode or not. If the arm is not in tuning mode, then any can msgs we receive asking to update PID params should be ignored bc it is not safe.

The idea is that if the operator would like to update the PID params, they should first ensure the arm is non-operational, set the tuning mode, and then

[2020-05-14 22:32] yreda1999 commented on #89
It is preferred that this driver be non-blocking. The LED matrix needs to work alongside gimbal code. By non-blocking i mean that the function to alter the matrix should not hold up the program until the matrix is set.

[2020-05-16 08:40] laineee commented on #3
Can I work on this?

[2020-05-16 19:01] wmmc88 commented on #3
@jetkov correct me if im wrong but this issue should be closed cuz we're moving to the led matrix board and its not addressable.

[2020-05-16 20:56] jetkov commented on #89
Since it will be handled by the PWM peripherals, it should be east to make non-blocking. @lwbantoto can you confirm that the matrix pins are assigned to PWM-designated pins?

[2020-05-16 20:58] jetkov commented on #3
Yes this issue should be closed, but I'll tag you in the issue for the LED board @laineee. It should be a very simple first task.

[2020-05-16 20:58] #3 closed

[2020-05-16 20:59] jetkov commented on #89
@lainee this is a good first task

[2020-05-18 04:04] lwbantoto commented on #89
@jetkov confirmed

[2020-05-18 04:05] lwbantoto commented on #46
@jetkov who's working on this?

[2020-05-21 00:42] laineee commented on #89
So we want to create a library with functions to be able to control the colour of the LEDs on the board. Using PWM for each colour R, G, B in different combinations to make up all the different colours and brightness. And we're using the HEX colour code to do that.

[2020-05-21 00:59] wmmc88 commented on #89
More or less yes. 24bit hex colour is fine. It at minimum needs to meet requirements needed in the URC manual, which means it needs a flashing mode. Itd be nice if there were support for any arbitrary colour and a number of different patterns, pattern frequency(flashing faster vs slower for example) etc.

[2020-05-21 01:01] wmmc88 commented on #89
@jetkov what do you think about getting people to have a draft pr with proposed public api, before implementation? Would help with getting people feedback earlier on in the development process.

[2020-05-21 01:02] wmmc88 commented on #91
Description? What constitutes a complete driver?

[2020-05-21 01:03] wmmc88 commented on #37
Dead issue?

[2020-05-21 01:04] wmmc88 commented on #25
@KrillNye wat dis

[2020-05-21 01:05] wmmc88 commented on #15
Is this done?

[2020-05-21 02:07] FK3wong commented on #18
@jetkov I'm looking on taking up another task as I've put a short pause on the current sensor task I was working on. Can you give me some more information about this issue? I'm a bit unsure about how this is used on the rover and would help give me context if I'm able to take it.

[2020-05-22 00:08] jetkov commented on #18
Hey @FK3wong, the purpose of this and issue #19 is to use the STM32 timer functions for measuring duty cycle, and quadrature decoding, instead of using rising/falling edge interrupts and the system timer. This should free up system resources a bit and allow more asynchronous operation: https://www.st.com/content/ccc/resource/training/technical/product_training/c4/1b/56/83/3a/a1/47/64/STM32L4_WDG_T

[2020-05-22 00:08] jetkov commented on #15
@KrillNye did you get any results with the fsr?

[2020-05-22 00:09] jetkov commented on #37
umm, its still a long term nice to have

[2020-05-22 00:13] jetkov commented on #89
Yeah that's a good idea. I already discussed this with @laineee a bit, we talked about having a function to set the hex colour and a function to set a flashing frequency.

But in yeah, it would be great to have people just write a header with at minimum the public API and submit that for review.

[2020-05-22 00:16] jetkov commented on #46
👍

[2020-05-22 18:08] FK3wong commented on #18
Possible useful resources:
https://www.st.com/resource/en/application_note/dm00236305-generalpurpose-timer-cookbook-for-stm32-microcontrollers-stmicroelectronics.pdf
https://www.st.com/content/ccc/resource/training/technical/product_training/c4/1b/56/83/3a/a1/47/64/STM32L4_WDG_TIMERS_GPTIM.pdf/files/STM32L4_WDG_TIMERS_GPTIM.pdf/jcr:content/translations/en.STM32L4_WDG_TIMERS_GPTIM.pdf
https://www.s

[2020-05-24 02:56] #70 closed

[2020-05-24 20:44] cindyli-13 commented on #91
This is a port of Sparkfun's Arduino library for the ICM-20948 IMU (https://github.com/sparkfun/SparkFun_ICM-20948_ArduinoLibrary). The library will provide functions to retrieve scaled IMU measurement data (linear accel, angular velocity magnetic field, orientation) through SPI. Sensor fusion algorithms are currently not implemented in firmware (but looking to do that in the future).

[2020-05-25 03:04] younesr1 opened #96 "uwrt_hw_config submodule"
implement the hw config repo as a git submodule

[2020-05-26 00:06] wmmc88 opened #98 "Automatically generate debug info files"
This could be useful to have automatically generated debug info to use with a debugger, looking at stack trace, memory map, etc. and then store the info into files Some useful info includes:
* generated assembly (objdump w/ -d)
* generated assembly with sourcecode mixed and line numbers  (objdump w/ -d -l -S)
* symbol tables (nm with -n for address sorting and -S for symbol size)
* all elf info (r

[2020-05-26 01:15] qinyang-bao opened #99 "Custom Robot Controller Board Firmware"
This year we are creating our custom robot controller board, so firmware for it is required.

Preliminary design is done, see block diagram: https://app.diagrams.net/#G1zqAnAT2QxAxzYP02m8YeLTq6BpyFIup1

This "board" has a unique design: it is made up of one master board and two slave boards that should communicate between each other and a PC. While the controller parts are simple to interface with

[2020-05-28 21:51] jetkov opened #102 "Add HW CAN filtering configuration step in apps"
- Missing in 2020, see 2019 repo

[2020-05-29 01:26] jetkov opened #103 "SD Card Driver"
- We should have a general SD card driver (do we need FS)

[2020-05-29 04:12] jetkov commented on #103
@a-gratton if you are going to be working on this as part of the GPS driver please assign yourself, otherwise this task is open for someone else, but you will need to sync with @a-gratton.

[2020-05-29 04:12] #79 closed

[2020-05-29 04:15] jetkov commented on #47
@qinyang-bao is working on the gimbal control, @laineee is working on the LED board control.

[2020-05-29 04:18] jetkov opened #104 "LCD Driver (BMS)"
LCD driver for SPI NHD-C12832A1Z-FSW-FBW-3V3 LCD on BMS board

[2020-05-29 04:20] jetkov opened #105 "BMS IC Driver"
Driver for BMS BQ40Z80RSMT

[2020-05-29 04:23] jetkov opened #106 "Investigate BiSS driver implementation"

[2020-06-01 03:13] a-gratton commented on #103
I've assigned myself to this now

[2020-06-02 01:41] lwbantoto commented on #106
@jetkov http://www.ti.com/lit/ug/tidu794a/tidu794a.pdf?ts=1591011639223

[2020-06-07 03:24] jetkov commented on #50
MBED OS 6 has been released https://github.com/ARMmbed/mbed-os/releases/tag/mbed-os-6.0.0

[2020-06-07 03:36] jetkov commented on #50
Required for #103 @a-gratton

[2020-06-07 04:32] a-gratton commented on #103
**File system options:**
We could use either [FATFileSystem](https://os.mbed.com/docs/mbed-os/v5.15/apis/fatfilesystem.html) or [LittleFileSystem](https://os.mbed.com/docs/mbed-os/v5.15/apis/littlefilesystem.html).
**LittleFS** [uses less resources and is less likely to corrupt data](https://os.mbed.com/blog/entry/littlefs-high-integrity-embedded-fs/) on the card during an unexpected shutdown. How

[2020-06-07 17:28] wmmc88 commented on #103
resiliency is probably better, especially because we always randomly shut off power,  and the user space program they linked in that thread looks straight forward to use.

[2020-06-07 17:28] wmmc88 commented on #50
I'll get on this

[2020-06-08 04:03] a-gratton commented on #103
Also for interacting with the files we could go for C file IO (stdio) or C++ (fstream). C++ is easier to work with, but there seem to be [major](https://stackoverflow.com/questions/4340396/does-the-c-standard-mandate-poor-performance-for-iostreams-or-am-i-just-deali) [performance](https://stackoverflow.com/questions/37894262/c-iostream-vs-c-stdio-performance-overhead) [issues](https://stackoverflo

[2020-06-12 02:14] dakaleyt commented on #102
Submitted a PR for Arm & Science so far.

[2020-06-17 22:41] FK3wong commented on #19
@jetkov For the calculation of velocity form the encoder should I be doing a moving average or should I sample the velocity multiple times in short succession and take the average of that set?

[2020-06-18 00:37] FK3wong commented on #105
Data sheet : https://www.ti.com/lit/ds/symlink/bq40z80.pdf?ts=1592440617209&ref_url=https%253A%252F%252Fwww.google.com%252F

[2020-06-18 02:40] FK3wong commented on #105
To Do's:

Write code to
1. Set Permanent Fail
2. Set Advanced Charge Algorithm
3. Set BMS Power Modes
4. Set Gauging
5. Set Cell Balancing
6. Set LED Display

[2020-07-06 00:43] younesr1 commented on #102
Hey, looks like you have the right idea in mind. Make sure to also edit safety app and test apps

[2020-07-09 00:49] wmmc88 commented on #2
@jetkov closeable?

[2020-07-09 03:00] jetkov commented on #2
yes

[2020-07-09 03:00] #2 closed

[2020-07-09 03:01] jetkov commented on #2
(a neopixel implementation however neopixels will no longer be used on the rover)

[2020-07-09 17:16] sahil-kale commented on #104
Guess I'll try to tackle this one now, will probably end up flopping though.

[2020-07-09 17:18] #102 closed

[2020-07-09 17:20] jetkov commented on #104
No worries, please coordinate with @FK3wong as he is also working on BMS

[2020-07-09 23:10] FK3wong commented on #104
@jetkov Could you outline the goals for this LCD driver? For example are there specific things we want to display?

[2020-07-10 02:29] FK3wong commented on #104
@sahil-kale I think some first steps for you would be to get the data sheet and technical manual for this LCD board and maybe links to some examples and put them as part of this issue. That way we can easily start trying to understand the chip. If you aren't familiar with SPI I would recommend watching some videos or reading up on it as that will be how you will interface with the chip. Then you m

[2020-07-11 18:47] FK3wong commented on #104
I had a conversation with Ayesha about the BMS chip and the LCD screen and here is some more information about it:

Goal: Display real-time data about the batteries.
Information to be displayed may include critical data (E.g High current draw, Low battery levels) and the current status of the batteries.
A nice to have could be the level of the battery in a visual similar to a battery bar on a smar

[2020-07-12 18:32] sahil-kale commented on #104
That makes sense, I'll drop some documentation and go from there.

(Got caught up in work a little, ill def contribute more though)

[2020-07-17 00:52] jetkov opened #118 "Add gTest Framework for unit testing"

[2020-07-22 21:57] jetkov opened #121 "Add non-blocking (Async/DMA) SPI encoder decoding driver"

[2020-07-22 21:59] jetkov commented on #96
@younesr1 fixed in #114 [Note to follow guidelines for PR, merge commit naming to automatically do this)

[2020-07-22 21:59] #96 closed

[2020-07-23 05:19] sahil-kale commented on #104
newhavendisplay.com/specs/NHD-C12832A1Z-FSW-FBW-3V3.pdf here's the datasheet

[2020-07-24 17:19] younesr1 commented on #121
I will get started on this after i merge my pid api pr.

[2020-07-24 19:28] younesr1 commented on #121
could u explain this task a little more pls @jetkov

[2020-07-25 13:34] younesr1 commented on #92
I'll just take care of this in my pidapi PR

[2020-07-27 20:35] jetkov commented on #121
Right now just testing reading from the SPI encoder I have it synchronous so it is blocking, it needs to be made into a proper driver that is asynchronous and it may be benificial to use direct memory access (DMA) to have the SPI peripheral write the encoder value to a block of memory without CPU intervention.

We can work on this one together as the new Netzer encoders being shipped to me for tes

[2020-07-28 01:41] younesr1 commented on #121
sounds good. I will get on it once the pidapi gets merged in which hopefully should happen soon.

[2020-07-28 16:33] wmmc88 opened #122 "Switch all header guards to be pragma once"

[2020-08-03 21:43] jetkov opened #125 "QEI velocity calculation should not be in interrupt"
ie what if pulse freq < read freq

[2020-08-06 00:20] younesr1 opened #126 "Design Centralized Logging System"
This is important for when we integrate all the various sub-systems. Without a central logging system, it would be inefficient and time consuming to jump between boards adding printf statements etc. Instead, we could have all sub-systems relay data about their current states to the jetson. Then we could connect to the jetson and filter these msgs. Alot has yet to be decided so there's a lot of roo

[2020-08-06 00:27] younesr1 commented on #126
i'm still deciding what protocol is most appropriate for sending the msgs. I do not think we should send them over CAN, because the integration testing we do tests CAN.

I would recommend UDP/TCP. Ethernet cables are trivial to setup and take down. Mbed has libs for it. Downside is EE would need to add it to upcoming board revisions.

[2020-08-06 01:10] wmmc88 commented on #126
What about just using the uart? It's already the default for print statements

[2020-08-06 01:11] wmmc88 commented on #126
Although, we would probs need EE to make a board with a bunch of UARTs. That board could probably do things like label the msg with what board it's from, timestamp it, etc.

[2020-08-06 01:12] wmmc88 commented on #126
For filtering the msgs, it might be nice to run a ros node that republishes the logs in a ros format and then just use the rqt_log gui

[2020-08-06 02:29] younesr1 commented on #126
Is your suggestion to connect all fw sub-systems to this "logger board" via uart and then connect the logger board to the jetson via uart? Why not skip the part where we connect it to the jetson? We can just connect to the logger board and see all the msgs on it. If we do this, we can have some script that takes in the desired filtering and displays appropriate data.

But I guess the nice thing ab

[2020-08-06 02:33] younesr1 commented on #126
uart is a good option too. it'd be twice the wiring that we would've needed with ethernet. Ethernet approach also means log msgs end up on Jetson. This might not be the case with the uart approach based on the above comment.

[2020-08-06 04:09] wmmc88 commented on #126
@younesr1 connect to jetson so we can see logs from any computer on the network. Live and also can  bag em to diagnose issues easier

[2020-08-06 04:11] wmmc88 commented on #126
@younesr1 not enough ports on the edge router for every board. Also uart is only one twisted pair, wheres ethernet is 4 twisted pairs.

[2020-08-06 12:27] younesr1 commented on #126
@wmmc88 To solve the issue of not enough ports, i thought we could buy a cheap ethernet switch (~15$) that just repeats all traffic to everyone connected. It wouldnt clutter the system at mission time since we'd remove the entire thing.

Regardless, I think we are better off with uart anyway.

[2020-08-06 22:45] younesr1 commented on #121
I'll forfeit this in case any of the new members wanna take it on

[2020-08-07 02:03] FK3wong commented on #125
@jetkov Is this issue meant for me and the HAL implementation of the QEI?

[2020-08-09 01:26] #50 closed

[2020-08-09 01:26] #82 closed

[2020-08-10 02:17] Yehia-Fahmy commented on #122
Opened a pull request to solve this issue

[2020-08-10 05:10] wmmc88 opened #128 "Change all macro constants to be constexpr"

[2020-08-11 00:31] younesr1 commented on #126
@wmmc88 what about using USART? Benefit is it can transmit data much faster. Downside is that we would likely need ee to expose a usart clock pin.
I dont think its worth it. what do you think?

[2020-08-11 03:21] wmmc88 commented on #126
With usart you can also just encode the clock on the data line. Need to check that mbed supports it somewhere.

[2020-08-11 03:22] wmmc88 commented on #126
Also with these changes, would the normal uart still work? How many uart perifs are there?

[2020-08-11 12:50] younesr1 commented on #126
there are 2 uarts and 4 usarts. The usarts can be used as uarts but uarts cant be used as usart. For this reason, i say we use uart

[2020-08-11 21:08] jetkov commented on #121
This might not be the best first issue unless they have prior FW experience

[2020-08-11 21:08] jetkov commented on #125
No this is for existing QEI lib

[2020-08-11 21:17] jetkov commented on #126
imo CAN or UART. remember we have 2 CAN interfaces on each board. Are you thinking about having this run all the time or just for debug?

For minimal error logging / health monitoring there are some CAN IDs allocated for this already but has not been implemented (intent for full-time use). @wmmc88 and I also talked in the past about heartbeats to monitor the CAN bus state.

Can give more info afte

[2020-08-11 21:57] wmmc88 commented on #126
@jetkov i think the health monitoring and can heartbeat msgs are full time things that should run on the can bus. That said, I think the purpose of this issue is different.

I think the goal of this system is a way to basically aggregate prints from fw and:
1. send to ros so can be viewed in realtime
2. used to debug issues after the fact

The intent would be to have this running all the time, but

[2020-08-11 22:16] younesr1 commented on #46
This task remains incomplete. It is available for anyone who wants to take it on.

[2020-08-12 01:32] wmmc88 commented on #126
https://stm32f4-discovery.net/2017/07/stm32-tutorial-efficiently-receive-uart-data-using-dma/

[2020-08-13 00:14] younesr1 commented on #126
I shared this plan with EE. I believe they are getting started on it soon. I think someone can take on the library design part of this task . They should bring in mbed-trace and create the logger class and not write the fw for the logger board yet. Once we decided more about how the logger board will work, we'll make an APP and TARGET for that.
We still need to decide on a couple things:
1. What a

[2020-08-13 00:28] younesr1 commented on #126
My answers to the above questions:
1. ERROR(asking to set neopixels to unknown state) WARNING(not sure of example) STATEINFO(setting neopixel to green) CANINFO(received/sent this can msg). If at level n, we also see levels <n. for example, if at Warning level, we would see warning and error
2. Only main.cpp files
3. jetson as to not send unnecessary data.
4. We can list out the boards we wanna see

[2020-08-13 00:51] wmmc88 commented on #126
~from [mbed-trace](https://github.com/ARMmbed/mbed-trace)

maybe we should match these levels

[2020-08-13 00:52] wmmc88 commented on #126
not sure if it makes sense to change the led colours everytime a msg is sent lol

[2020-08-13 00:55] qinyang-bao commented on #126
Might not be too related, but part of this project sounds like what we did with the custom robot controller board --- there is a master board connected to pc and all other boards, and msgs are sent via UART....

I think both could share some library for aggregating & re-transmitting UART msgs

[2020-08-13 00:56] wmmc88 commented on #126
I think the logger board should timestamp the msgs. this way its closer to the actual timestamp, although not as close as on the individual boards themselves. Having the logger board timestamp however will all for a common reference point for all the timestamps because each board will have a different zero. This is because it will be a timestamp relative to board bootup, no realtime.

If we wanted

[2020-08-13 00:59] wmmc88 commented on #126
I think we can convert logs to ros console logs, tagged by board and mapping mbed trace levels to ros debug levels. ros debug levels can easily be filtered (including thru rosconsole rqt gui)

[2020-08-13 01:01] wmmc88 commented on #126
I think that this project should have a high level plan drawn out asap so that the important reqs are flushed out (before ee starts building something that may be missing critical features)

[2020-08-13 01:39] younesr1 commented on #126
I like the idea of using the same log levels as mbed-trace. If the logger board timestamps, i'd say stick an rtc on it. i believe it'd be low effort and low cost.

I will put together a high level plan drawing before tomorrow's technical meeting hopefully.

[2020-08-13 23:50] wmmc88 opened #130 "Add CI pipeline to hw bridge repo"
We need some ci pipeline integrated into the hw bridge repo so that people can merge without an admin needing to force merge. Currently, both fw and sw repos are pinned to a certain commit on the bridge repo.

Extra care needs to be put into this pipeline. I think that whenever there's a pr to the bridge repo, there should be pipelines run to build it against master of sw and fw. This way, we guar

[2020-08-14 01:34] younesr1 commented on #99
hey, was this task completed?

[2020-08-14 01:49] qinyang-bao commented on #99
The libs are merged, but we only have the main appp (untested) for the dev board. main app for any of the boards planned in the design is not written...since we don't have electrical design for them yet

[2020-08-14 01:49] qinyang-bao commented on #99
so I don't think this is completed

[2020-08-14 15:39] wmmc88 commented on #99
It might be a good idea to have test apps to test new features pertinent to the controller boards, stuff like the unbuffered serial etc

[2020-08-14 15:41] wmmc88 commented on #126
The (small) problem with having an rtc with the logger board is that now there are 2 sources of truth for the absolute timestamps, the jetson clock and the logger clock. How do we deal with syncing them up? Which time is used inside the rosconsole log? What happens when the two dont match?

Just things to think about

[2020-08-15 01:01] upadhyaydhruv commented on #128
I think I'll try taking this one on as my first issue

[2020-08-15 01:32] qinyang-bao commented on #99
The main app we have under controller currently is for the dev board, I think it would suffice as a test app...

[2020-08-15 17:26] wmmc88 commented on #128
I just added you to the github team. you should receive an email confirmation. You can click assign yourself

[2020-08-15 22:34] upadhyaydhruv commented on #128
Would the changes be limited to the apps folder only?

[2020-08-15 22:36] wmmc88 commented on #128
Mostly everything not in the mbed folder

[2020-08-18 01:32] younesr1 commented on #126
Our master clock is the rtc on the logger. i say that we dont care about the time shown on the jetson. We do not sync them up.
Here's a requirement doc i've started working on. it is not yet complete

https://uofwaterloo-my.sharepoint.com/:w:/g/personal/yreda_uwaterloo_ca/ER5gQUd_c5tBtht4vzOmRVwB5HSMQFVFnM8q-1ZHKrfJpw?e=LRTUzG

[2020-08-18 04:21] wmmc88 commented on #126
I think the problem with ignoring the jetson clock is that if we bag data, stuff isnt gonna be in sync. I think there needs to be a handshake somewhere to account for the difference.

[2020-08-19 00:43] younesr1 opened #132 "Update Gimbtonomy to use 3-axis gimbal"
Mechanical team has redesigned the gimbal to use 3 axes instead of 2 axes. The fw needs to be updated to reflect this change.

[2020-08-19 00:46] wmmc88 commented on #132
This includes manual control and the self correcting feature?

[2020-08-19 01:02] #122 closed

[2020-08-21 00:25] wmmc88 commented on #99
How does the dev board differ from the actual board? is the actual controller a collection of boards or a single board?

[2020-08-21 00:32] younesr1 commented on #132
yes it does

[2020-08-21 00:51] sahil-kale commented on #132
I'm interested in working on this since I've made code for a gimbal camera if no one wants to pick this up

[2020-08-21 01:06] wmmc88 opened #135 "Add functionality to makefile to make all supported targets"
(all at once.)

will need to call the python helper script.

[2020-08-21 01:44] younesr1 opened #136 "Update Training"
Training doc does not use cmake yet. also, update it to use more proper coding techniques like const correctness, references

[2020-08-21 02:46] qinyang-bao commented on #99
The actual controller is a collection of boards (see block diagram at issue description). The dev board is only one board, it contains a few of each control elements (buttons, joysticks, etc.).

[2020-08-24 01:37] younesr1 opened #138 "Create Look Up Table Data Type"
create our own LUT wrapped around an std::unordered_map bc O(1) in average lookup case.
also, std::unordered_map creates an instance of the value if a key does not exist. instead, we want to return std::optional and only return something if the key exists and std::nullopt if it does not

[2020-08-24 01:37] younesr1 commented on #138
this is being addressed in my pid tuning api pr bc it needs it

[2020-08-24 01:38] younesr1 commented on #138
Also, update the CANMsgHandler map to use it

[2020-08-25 03:00] younesr1 opened #139 "Turn all enums to enum classes in hw_bridge"

[2020-08-26 03:04] younesr1 commented on #126
This task is closed. The final design is the following:
Use the secondary CAN bus to transmit log messages. The log system will be live during testing and at mission time.
Log msgs should carry information about board of origin and log level and call stack.
If the primary CAN bus fails and we start using the seconday CAN bus, we abandon the logger
For longer msgs, consider stitching them together.

[2020-08-26 03:04] #126 closed

[2020-08-26 03:09] younesr1 opened #141 "Implement Logger"
We would like to have a centralized logging system. The idea is that all sub-systems use this logger to report warnings errors etc which are received by the Jetson and bagged for looking back at a later point. Below are some specifics, but whoever picks this up can reach out to me for a call.

Use the secondary CAN bus to transmit log messages. The log system will be live during testing and at mis

[2020-08-26 14:29] younesr1 opened #142 "Building uses too many resources"
Building causes machines to become very slow. Perhaps use $NPROC/2 for number of threads used.

[2020-08-26 15:02] wmmc88 commented on #142
building is supposed to use as many threads as possible(up to a max of cores in ur computer x 2) so that it finishes as fast as possible. basically every build system is like this. ex. catkin in ros also uses nproc as default amount of threads used.

[2020-08-26 15:04] wmmc88 commented on #142
The build process in our fw appears to  use more cores on purpose. Not all build sequences can be fully parallizeable and effort needs to be put into the design of targets so that it can have optimally parallel builds. the goal is always to have all available cpus at 100% so that no resources are wasted. The fact that fw consumes more than the ros build simply means that the fw build is more paral

[2020-08-26 15:09] wmmc88 commented on #142
if people really really want to reduce cpu usage, u could add a flag to the wrapper make to manually specify max number of jobs.

idk why anyone would ever want to slow down their builds tho... the most complex target (arm, arm) takes ~5 seconds to build from clean on my computer and 5 seconds wait is a hell of a lot better than a 30 second wait.

[2020-08-26 15:11] younesr1 commented on #142
i agree that performance is very fast. the issue is that it takes up too many resources. it freezes my machine until building is done.
i suggest adding a flag called --slow that uses have the cores.

[2020-08-26 15:15] wmmc88 commented on #142
how long is frozen for?

[2020-08-26 15:23] younesr1 commented on #142
like a minute. sometimes it just hangs for longer and i just end up giving up and rebooting my computer. ill bring it up in the meeting to see how many ppl are in favor of --slow. if more ppl are in favor of --slow, ill make that the default and --fast the flag

[2020-08-26 15:32] wmmc88 commented on #142
did u have minute long freezes with make? cuz that was also using -nproc

[2020-08-27 17:13] younesr1 commented on #142
No, definitely not. it was only with cmake.

[2020-08-27 17:30] wmmc88 commented on #142
Can you capture the actual resources used during build? I suspect it's not the cpu usage that causes the issue. It's may be hitting the max physical ram and then your computer starts constantly switching to data to swap

[2020-09-04 00:33] younesr1 opened #144 "Add anti-windup to PID class"
Anti windup could potentially be crucial at mission time. If the arm tries interacting with something that becomes stuck, we could have undesried consequences if we do not guard against integral wind-up.

Essentialy, integral windup is when your integral path balloons because your error is not decreasing for some reason. It balloons beyond your max output. So now you have a large Integral output e

[2020-09-11 01:45] sahil-kale commented on #132
note to self: needs to have a disable feature

[2020-09-15 01:41] #136 closed

[2020-09-15 02:12] younesr1 opened #148 "Linearise Shoulder Velocity Commands"
The shoulder on the arm is operated by a linear actuator. SW would like to provide FW with the desired angular velocity of the joint. This means that FW has to convert this value to an appropriate motor velocity.
The linear actuator and shoulder are pictured below:
![arm](https://user-images.githubusercontent.com/52610118/93157007-556f9900-f6d7-11ea-9996-d5e86e1b74dd.jpg)

[2020-09-15 02:14] younesr1 commented on #89
@laineee Do you mind updating this issue with your progress. It's a good way for ppl besides u and i to be in the loop for this

[2020-09-15 02:15] younesr1 commented on #71
@wmmc88 is this complete?

[2020-09-15 02:16] wmmc88 commented on #71
Nope. It fell to the back burner lol. Should be easier to tackle now that we use cmake. I'll give it a shot when I got some free time

[2020-09-15 02:27] younesr1 opened #149 "Update ActuatorController to optionally take in secondary PID for cascaded control"
This video explains cascaded PID control: youtube.com/watch?v=tbgV6caAVcs&t=187s&ab_channel=MATLAB

This task requires modifying the ActuatorController class to optionally take in a second PID to implement cascaded PID. I'd recommend becoming familiar with the ActuatorController class and its children as well as our PID class before starting to write code. For this task, planning is really importa

[2020-09-15 02:41] younesr1 opened #150 "Update PID Library to optionally accept FF term"
This task requires you to modify our PID library to optionally take in and use a feed-forward term. A feed-forward term is a function. You do not need to derive the functions needed for each joint. A feed-forward term is generated based on the dynamics of the arm.

A feed-forward term (FF) tries to improve a PID controller beyond just an error-based response system. It essentially tries to predict

[2020-09-15 02:44] younesr1 opened #151 "Create library that provides FF term for PID controller for each joint"
This task is not ready to be taken on yet. We still need to work things out with Mech

[2020-09-15 02:56] #75 closed

[2020-09-15 02:56] FK3wong commented on #75
Neopixels are no longer used in the Rover. Replaced by the LED matrix

[2020-09-15 03:12] FK3wong commented on #144
@younesr1 Can I get a date as a deadline for this?

[2020-09-16 00:39] ChristopherA057 opened #153 "Fix makefile failing to find target boards when directory has a space (or otherwise unreadable character)"
Problem can be seen (with some partially related discussion) in the thread linked below:
https://uwrobotics2020.slack.com/archives/CKDNYMG48/p1600215488017200

[2020-09-16 03:43] laineee commented on #89
I'm working on the library now that I have a clear header file from @younesr1 with what we need

[2020-09-17 03:47] younesr1 opened #154 "Turn all doubles to floats"
We use the M4 processor on our boards. With such processors, dividing floats is rather difficult. It actually takes alot of effort. We are fortunate that our processor has a Floating Point Unit (fpu), which accelerates such operations.

However, this acceleration of floating point arithmetic is only limited to floats. It does not apply to doubles. This is something we only learned recently. For th

[2020-09-17 03:48] younesr1 commented on #154
@niiquaye

[2020-09-17 03:56] niiquaye commented on #154
Alright. Will do. Lastly, you said we only forked the repository in the training but we are actually working on issues we make branches. Is this correct ?

[2020-09-17 03:59] younesr1 commented on #154
yes, there is a detailed naming convention to name ur branch in the readme

[2020-09-17 04:02] niiquaye commented on #154
alright thanks

[2020-09-20 21:18] cindyli-13 commented on #149
I have some general questions related to this task (just gonna dump them here):

- Will the cascaded control mainly be used for shoulder or all arm actuators?
- (Probably a dumb question) Do encoders give > 360 deg readings?
- How are PID parameters currently tuned? How would cascaded PID control be tuned (do we know yet)?
- Will we ever want to also use inner loop = torque, outer loop = position

[2020-09-20 23:22] wmmc88 commented on #149
- all
- they roll over at 360 afaik
- rn guess and check LOL. we also have an autotune library we could try to use. imo we should just send it some step signal etc and graph the response and tune it that way(so guess and check with some more precise checking basically). we would need to tune the inner pid first, then tune the outer one. This might require the firmware being able to accept current

[2020-09-20 23:23] wmmc88 commented on #149
@younesr1 it might be good to have that actuator firmware high level rearchitecture/retrospective to see how all these new features should be implemented.

[2020-09-22 00:30] younesr1 opened #158 "Create Ultrasonic Driver"
Here is the sensor:   http://www.robotshop.com/en/weatherproof-ultrasonic-sensor-separate-probe.html

Here is some arduino code for it: https://github.com/RobotShop/RB-Dfr-720_Weatherproof_Ultrasonic_Sensor_with_Separate_Probe/blob/master/PingSample/PingSample.ino

The main function we need is float read();

You need to write a library for this ultrasonic sensor and create a test-driver for it

[2020-09-22 01:45] younesr1 opened #159 "Deprecate CAN Class"
CAN class belongs to mbed. we cant change it.

Do something like we do with CANMsg. This depricates CAN class usage

[2020-09-22 03:48] FK3wong commented on #144
There exists an implementation of anti-windup inside the current PID class. On lines 414-415 of function PID::compute(), there exists a check to determine if the PID output is outside the expected bounds. In this event the Integral's accumulated error will be frozen and will no longer accumulate error until the PID output drops into the acceptable range.

[2020-09-22 03:48] #144 closed

[2020-09-24 01:35] younesr1 opened #162 "add flexibility to make cmd"
itd be nice to compile with make app=<nameofapp? target=<nameofapp>

[2020-09-24 01:45] #135 closed

[2020-09-24 01:45] #142 closed

[2020-09-24 20:56] #154 closed

[2020-09-24 23:08] younesr1 commented on #149
Yes definetly, I havent gotten to doing that yet.

[2020-09-27 21:27] younesr1 opened #164 "Create current sensor class"
We need to add a current sensor class to our lib.

[2020-09-27 22:02] younesr1 commented on #164
@a-gratton assign urself to this if you'll take this on pls

[2020-09-27 22:03] younesr1 commented on #164
https://www.melexis.com/-/media/files/documents/datasheets/mlx91205-datasheet-melexis.pdf

[2020-09-27 22:43] FK3wong commented on #164
@younesr1 is this related to the INA-226 in any way?

[2020-09-28 03:56] wmmc88 commented on #164
@FK3wong sort of lol. We're replacing the INAs with this lol

[2020-09-28 13:12] FK3wong commented on #164
Are we still going to use the INA-226 for anything then

[2020-09-28 13:46] younesr1 commented on #164
this is for the current sensors on the arm which are not ina-226. the data sheet is linked above. bms might still be restarted at some point but we dont know yet

[2020-10-02 00:19] younesr1 opened #166 "Make moisture and temp sensor driver interrupt driven"
currently, it writes, waits, then reads. this is no good.
could use interrupts or dma.
Lower priority for now, something to think about

[2020-10-02 00:19] younesr1 commented on #166
@Yehia-Fahmy Something to keep in mind. If you want to u can take this on after science compiles.

[2020-10-11 17:31] #159 closed

[2020-10-25 03:56] wmmc88 opened #172 "update mbed.h"
generate a new mbed.h from latest mbed cli. the current one is from several major mbed versions ago and some apis/constants etc may have diverged.

[2020-10-30 00:53] a-gratton commented on #164
School ended up being really busy for a while, I am assigning this to myself now.

[2020-11-13 00:28] niiquaye opened #195 "Create URM04 Ultrasonic Sensor Driver"
Create A driver class to support the basic functionalities of the URM04 Ultrasonic Sensor.  Some of the following functions should be created:

-getDistance()
-setPins() - (maybe use constructor instead)
-getTemperature()

-Ask Younes or Melvin for further information

[Sample Arduino Code ](https://wiki.dfrobot.com/URM04_V2.0__SKU_SEN0002_)

[2020-11-22 21:08] #138 closed

[2021-01-03 17:49] wmmc88 commented on #141
Should maybe consider moving to a more C++-like iostream-type prints instead of printfs. https://github.com/uwrobotics/MarsRover2020-firmware/pull/231#discussion_r550938952

[2021-01-03 20:27] cindyli-13 opened #235 "Implement Brushless Motor Library"
The team currently does not use brushless DC motors - this issue is for future reference when we do need to implement the brushless motor class. The header and source files can be found under the folder `lib/actuators` (currently under development in `actuator` branch).

[2021-01-08 23:41] younesr1 opened #240 "write bash script to flash boards"
this script should move the appropriate binary to the appropriate folder. script takes 2 args an app and a target. must have error checking for everything that could go wrong: nucleo not connected, bin doesnt exist, flashing error etc

[2021-01-08 23:45] younesr1 opened #241 "make the compilation cmd more flexible"
rn we compile with make APP=app TARGET=target

make the order flexible, make the cmd case insensitive

also itd be nice if we could compile like make -a arm -t arm or make --app arm --target arm

also auto-complete for target and app names would be nice too.

This is a highly flexible issue and whoever takes this on should see what is feasible and what isnt

[2021-01-09 04:26] wmmc88 commented on #240
u could actually do this in a nice portable way by making it a cmake function instead of bash.

[2021-01-15 03:31] cindyli-13 opened #246 "Create STM32 DMA Example App"
We would like to make a "Hello World" type app to explore STM32 DMA capabilities. The motivation behind this task is for the potential use of DMA in making a non-blocking driver for the Broadcom AEAT-6012 encoder (see issue #121).

[2021-01-17 23:11] #128 closed

[2021-01-18 03:26] younesr1 opened #248 "increase coverage of PID test driver"
our PID test driver compares our PID lib to Matlab's PID lib. Right now, the test driver only covers basic PID. This task should create test coverage for threadbility anti-windup

[2021-01-18 03:33] younesr1 opened #249 "update actuator controller for arm control rearchitecture"
implement actuator controller class per this doc design doc

[2021-01-23 00:39] FK3wong commented on #151
Some resources
https://www.controleng.com/articles/feed-forwards-augment-pid-control/

[2021-01-25 01:31] younesr1 opened #254 "add test for quadrature encoder lib"

[2021-01-25 01:46] younesr1 opened #255 "Verify IOC files match Targets"
EE tells FW what pins are connected to what peripherals on the PCB through IOC files. Its important that FW uses the latest versions of the IOC files. Use STMCubeMx to read the IOC files.

FW gives all pins aliases in the Targets folder. For example, if EE configures PA_10 as a UART_TX, we alias PA_10 to UART_TX in the targets folder in the PinNames.h file

Please go through each target (except Nu

[2021-01-27 00:07] younesr1 opened #257 "Fix encoder driver for FIT0186 motors"
these motors are on the claw, but our driver for these dont work. the position reading seems okay but needs to be scaled to degrees units. angular speed is broken.

[2021-01-29 01:42] #246 closed

[2021-01-30 19:10] FK3wong commented on #151
Account for effects of inertia, gravity on joints as arm moves

[2021-02-01 21:19] younesr1 opened #258 "Copy training doc to repo wiki"

[2021-02-02 21:26] FK3wong commented on #151
http://sharif.edu/~salarieh/Downloads/Modern%20Control%20Engineering%205th%20Edition.pdf ->chapters 9,10
Robot dynamics and controlby Spong and Vidyasagar

[2021-02-03 04:49] cindyli-13 opened #260 "Create SWO Logging Utility"
Rev2 PCBs don't support standard printf over UART. The alternative is to use the Serial Wire Output (SWO) line for outputting print statements. A SWO library utility needs to be created to facilitate the logging of debug messages over SWO.

[2021-02-03 05:21] wmmc88 commented on #260
Oof what caused uart prints to break?

[2021-02-03 23:39] younesr1 opened #263 "Make use of force sensor on claw"

[2021-02-04 02:54] cindyli-13 commented on #260
It's not that it's broken, the boards just didn't expose a uart interface lol. I've asked if we can bring uart back for Rev 3.

[2021-02-09 03:04] cindyli-13 opened #271 "Modify Gimbtonomy App to Gimbal App"
Need to replace the gimtonomy app with a gimbal app for the [Rev 2 gimbal board](https://github.com/uwrobotics/MarsRover2021-hardware/blob/master/Projects/Gimbal/Rev2/Gimbal.pdf).  The LED matrix is no longer controlled by the gimbal board.

[2021-02-10 03:00] cindyli-13 opened #273 "Create PDB app"
Need to create the app for the Rev 2 PDB (power distribution board). This board monitors the power rails, controls the LED matrix, and interfaces with the ultrasonic sensors.

[2021-02-10 19:56] younesr1 opened #275 "Break readme up into wikis"
readme should have instuctions for getting setup. the other sections should be in wikis. also training should be in wikis

[2021-02-12 23:33] a-gratton opened #277 "Update Gimbal and Science PinNames"
PinNames.h files need to be updated to match the Rev2 PCBs.

[2021-02-14 17:49] #260 closed

[2021-02-14 18:00] cindyli-13 opened #279 "Figure out how to view SWO debug outputs on Linux"
On Windows the ST-Link Utility software is used, but we would like to have a method of viewing SWO prints on Linux

[2021-02-17 15:37] a-ebrahim opened #287 "Create BMS app"

[2021-02-17 15:48] a-ebrahim commented on #287
Need to write FW for BMS. This includes interfacing with the LCD, SD card and battery management chip.

[2021-02-17 16:51] FK3wong commented on #287
@a-ebrahim would this include these issues?
 https://github.com/uwrobotics/MarsRover2020-firmware/issues/105
 https://github.com/uwrobotics/MarsRover2020-firmware/issues/103
 https://github.com/uwrobotics/MarsRover2020-firmware/issues/104

[2021-02-17 21:37] a-ebrahim commented on #287
Yes, it does. Thank you for bringing those up!

[2021-02-17 21:39] a-ebrahim commented on #103
What's the status on this?

[2021-02-17 21:42] a-ebrahim commented on #105
Was there work done on this?

[2021-02-17 21:59] FK3wong commented on #105
I worked on this; mostly reading the datasheets and manuals. I had some code on a branch somewhere but I'm not 100% sure if it works

[2021-02-17 22:21] cindyli-13 opened #288 "Figure out how to set up GDB debugger"

[2021-02-22 02:51] cindyli-13 opened #292 "Create RGB LED library"
Each rover board has an onboard RGB LED. We've just been using it for debug purposes but we would like to actually use it as a visual indicator of board status. The scope of this task includes:

- Creating an RGB LED driver. This would be extremely similar to the LED matrix driver (but keep in mind that the onboard RGB LED is active low!).
- Designing colour codes / flash patterns for different bo

[2021-02-23 01:46] #121 closed

[2021-02-26 05:14] cindyli-13 opened #300 "Create Limit Switch Class"
Currently we've just been using `DigitalIn` for limit switches. The goal of this task is to create a limit switch driver to abstract away whether the switch is active high or active low.

[2021-02-26 14:51] wmmc88 commented on #164
Just a fyi, we'll need to make sure the driver reads rms current since it's a pwm wave

[2021-03-01 01:10] younesr1 opened #305 "Add hardware filtering"
This is post SAR critical! It will cause apps to crash if not implemented

[2021-03-01 01:19] wmmc88 commented on #305
I think should also not crash even if it receives smth weird. just log it

[2021-03-05 00:27] #277 closed

[2021-03-05 00:28] #255 closed

[2021-03-05 00:28] #271 closed

[2021-03-05 00:29] younesr1 commented on #166
uhh this was a bad idea

[2021-03-05 00:29] #166 closed

[2021-03-05 01:41] younesr1 opened #312 "Add units library to repo"
Investigate using a units library like this
https://github.com/nholthaus/units

it would simplify function names like readAngleDegPerSec() and constants like maxRPM, and will generally be safer

@wmmc88 @cindyli-13 thoughts? this could be an easy task for new members

[2021-03-05 01:55] wmmc88 commented on #312
I'd prefer to just standardize units instead. Like ros has a REP that standardizes everything.

[2021-03-05 04:46] cindyli-13 commented on #312
I'm fine with either units library or standardizing units, as long as we're consistent throughout the whole repo

[2021-03-05 14:57] younesr1 commented on #312
@upadhyaydhruv for starters, create a units library and write a test-units app the shows how to use these units: Amperes, Degrees, Degrees per sec, Newtons

[2021-03-08 14:44] wmmc88 opened #316 "printf fixes"
We should enable minimal-printf to reduce printf overhead (RAM usage and Flash usage): https://os.mbed.com/docs/mbed-os/v6.8/apis/printf-and-reducing-memory.html

We should also investigate why `/r` is needed for newlines on windows. MBED should be automatically adding the carriage returns. See this comment: https://github.com/uwrobotics/MarsRover2020-firmware/pull/304#discussion_r589110003

[2021-03-11 22:22] younesr1 commented on #305
@cindyli-13 can u assign this to urself? i think ur moving this stuff from sar branch to master?

[2021-03-11 22:23] #279 closed

[2021-03-11 22:23] younesr1 commented on #254
this issue is duplicated

[2021-03-11 22:23] #254 closed

[2021-03-11 22:28] younesr1 opened #320 "Add safety check toggling to Arm API"
arm app should be able to disable/enable the current, rpm, and limit switch checks

[2021-03-11 22:29] younesr1 commented on #320
The functionality already exists in the ActuatorController derived classes. the person taking this on just needs to add functions to the main.cpp and create the right CAN IDs in the bridge.

[2021-03-11 23:49] cindyli-13 commented on #305
HW filtering is already added to master, but should the lookup table itself handle cases where the key doesn't exist?

[2021-03-11 23:54] wmmc88 commented on #305
It should be a logger print, not a run time fault. Espc since I dont think he filtering will
be able to filter out all the unhandled ids

[2021-03-11 23:59] younesr1 commented on #305
does the he filtering filter out all the stuff thats not relevant for the 4 main apps? if so, we shuold switch MBED_ERROR for MBED_WARN if not, then just return unsupported

[2021-03-12 00:03] wmmc88 commented on #305
Can we discuss this in tonight's meeting?

[2021-03-12 23:14] younesr1 commented on #320
I'll outline what needs to be done for enabling/disbaling current checks. this is how i would do it so feel free to do it however ud like. rpm and limit checks can be implemented in a similar way.
1.  Add a new canid called SET_JOINT_CURRENT_CHECK = 0x730
2. define your payload struct in the bridge. it has a bool and an ActuatorID member
3.  in arm/main.cpp add a function called setSafetyCheck
4.

[2021-03-16 01:08] cindyli-13 opened #325 "Remove roll axis from gimbal app"

[2021-03-18 19:01] cindyli-13 opened #328 "Investigate Logger SWO bug"
There is a bug with the logger utility where if the application contains no calls to `Utility::logger <<`, any calls to `printf()` will break the program. The cause of this bug needs to be investigated. Band-aid fix is to add the line `Utility::logger << ""` to the start of the app.

[2021-03-21 23:37] #249 closed

[2021-03-21 23:38] younesr1 opened #331 "Add update semantics to encoder and sensor classes"

[2021-03-22 00:06] younesr1 opened #333 "Improve Moisture Sensor Drive"
The driver isn't great. Currently, reading moisture can take up to 10 seconds.
reading moisture can return true or false, which is good, but reading temperature always returns true. this isnt right

[2021-03-25 15:03] #305 closed

[2021-03-25 15:03] #325 closed

[2021-03-25 15:42] upadhyaydhruv opened #335 "Include functionality for printing units objects in Logger"
Currently, the logger doesn't support printing Units objects defined in the newly included units library. The objects can only be printed using cout, and functionality needs to be added to ensure that they can be printed using Logger as well.

[2021-03-25 15:44] upadhyaydhruv commented on #333
I'd love to take this on after my current task is complete, if that's okay

[2021-04-02 01:11] younesr1 commented on #333
sounds good

[2021-04-04 23:56] wmmc88 opened #343 "Enable mbed crash reporting"
https://os.mbed.com/docs/mbed-os/v6.9/apis/error-handling.html#crash-reporting-and-auto-boot

The following options should be enabled repo wide (put it in mbed_app.json):
* "platform.crash-capture-enabled": true,
* "platform.fatal-error-auto-reboot-enabled": true,
*  "platform.error-reboot-max": 3,

As per the docs, the linkerscript must be modified to add extra regions in RAM and export symbols d

[2021-04-09 00:21] #331 closed

[2021-04-09 02:32] cindyli-13 opened #345 "Create Watchdog Wrapper"
Create a wrapper interface based on Mbed's [watchdog timer](https://os.mbed.com/docs/mbed-os/v6.7/apis/watchdog.html). The wrapper should handle starting the watchdog and periodically petting the dog. A future enhancement would be to log watchdog reset occurrences (over CAN??).

[2021-04-10 21:35] wmmc88 opened #347 "Restructure Libraries and Namespaces"
I found a lot of instances of `using namespace xyz;` in the repo. This is bad practice because it pollutes the global namespace, and negates the whole benefit of namespaces in the first place, which is to avoid collisions. It seems that the pollution is isolated only to .cpp files which is not as bad, but still should be avoided.

So what to do:

When its in a cpp file for say a driver(ex. aeat.cp

[2021-04-10 21:51] wmmc88 commented on #347
And part of this should also be cleaning up some of the public/private/interface target_link_libraries options.

Only included in the header: public
Only included in the cpp: private
header only target: interface

[2021-04-30 03:24] #320 closed

[2021-05-09 20:06] #162 closed

[2021-05-10 02:49] wmmc88 commented on #162
y close?

[2021-05-12 15:52] #345 closed

[2021-05-13 01:21] younesr1 opened #372 "update readme since we now use Ubuntu 20"
some of the wording will have to change. some of the instructions will have to change too

[2021-05-13 14:59] cindyli-13 opened #374 "Add support for Nezter encoders to ODrive firmware"
The ODrive firmware already has support for absolute SPI encoders, however we'll need to add proper support for our Nezter DS-25 encoders to be used with our ODrive controllers. This task involves understanding how the ODrive firmware works (specifically how their encoder interface is structured) and modifying it to allow Nezter encoders to be used.

Links:
- [Our ODrive repo](https://github.com/u

[2021-05-17 03:18] #172 closed

[2021-05-21 13:50] wmmc88 commented on #372
@younesr1 I addressed this recently in #351. Reopen if you think anything was missed.

[2021-05-21 13:50] #372 closed

[2021-06-04 02:29] cindyli-13 commented on #287
@FK3wong Is this still an open task? If not could you close it?

[2021-06-04 02:33] cindyli-13 commented on #263
Closing this issue as the claw force sensor is not relevant anymore

[2021-06-04 02:33] #263 closed

[2021-06-04 02:38] cindyli-13 commented on #257
Pololu quadrature 64cpr encoder driver already implemented

[2021-06-04 02:38] #257 closed

[2021-06-04 02:39] cindyli-13 commented on #235
Closing this as we are using ODrive controllers instead

[2021-06-04 02:39] #235 closed

[2021-06-04 02:41] cindyli-13 commented on #149
Closing this as we're using ODrive PID control instead

[2021-06-04 02:41] #149 closed

[2021-06-04 02:42] cindyli-13 commented on #151
Closing this as we're using ODrive PID control instead

[2021-06-04 02:42] #151 closed

[2021-06-04 02:42] cindyli-13 commented on #150
Closing this as we're using ODrive PID control instead

[2021-06-04 02:42] #150 closed

[2021-06-04 02:42] cindyli-13 commented on #248
Closing this as we're using ODrive PID control instead

[2021-06-04 02:42] #248 closed

[2021-06-04 02:43] cindyli-13 commented on #141
Closing this as logger is already implemented

[2021-06-04 02:43] #141 closed

[2021-06-04 02:45] cindyli-13 commented on #139
Closing this as it's already completed

[2021-06-04 02:45] #139 closed

[2021-06-04 02:45] cindyli-13 commented on #132
Closing this as we're no longer using a 3-axis gimbal

[2021-06-04 02:45] #132 closed

[2021-06-04 02:49] #106 closed

[2021-06-04 02:50] cindyli-13 commented on #105
@FK3wong Is this still an open issue? If not could you close it?

[2021-06-04 02:54] cindyli-13 commented on #104
@FK3wong @sahil-kale Is this still an open issue? If not could you close it?

[2021-06-04 02:58] #92 closed

[2021-06-04 02:59] #91 closed

[2021-06-04 03:01] cindyli-13 commented on #89
Closed as this is already implemented

[2021-06-04 03:01] #89 closed

[2021-06-04 03:01] #80 closed

[2021-06-04 03:02] #47 closed

[2021-06-04 03:03] #46 closed

[2021-06-04 03:03] #45 closed

[2021-06-04 03:06] cindyli-13 commented on #44
Closing this as we're using ODrive PID control

[2021-06-04 03:06] #44 closed

[2021-06-04 03:07] #27 closed

[2021-06-04 03:07] #25 closed

[2021-06-04 03:08] cindyli-13 commented on #23
Closing this as we're going by a new CAN architecture

[2021-06-04 03:08] #23 closed

[2021-06-04 03:09] #15 closed

[2021-06-04 03:09] #10 closed

[2021-06-18 00:28] FelixKHWong commented on #287
Closed due to new BMS system project

[2021-06-18 00:28] #287 closed

[2021-06-18 00:28] FelixKHWong commented on #105
Closed due to new BMS system project

[2021-06-18 00:28] #105 closed

[2021-06-18 00:29] FelixKHWong commented on #104
Closed due to new BMS system project

[2021-06-18 00:29] #104 closed

[2021-06-19 04:46] cindyli-13 opened #383 "Create CAN driver module"
Create the module for the CAN driver (common to all apps). The module will handle all CAN RX / TX processor thread capabilities.

[2021-06-19 04:50] cindyli-13 opened #384 "Create CAN app module"
Create CAN app modules for arm, science, gimbal, and pdb. These will contain CAN logic that are app-specific. Make sure to develop off of the `app-structure-redesign` branch.

Prerequisite: #383 is completed.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rover+Apps+Structure

[2021-06-19 04:58] cindyli-13 opened #385 "Create controller modules"
Create controller modules for arm, science, and gimbal. These would bundle all actuator controller logic into app-specific modules. You should be familiar with the actuator controller libraries before taking on this task. Make sure to develop off of the `app-structure-redesign` branch.

Prerequisite: #382 is merged.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rov

[2021-06-19 05:00] cindyli-13 opened #386 "Create moisture sensor update module"
Create a module to periodically read data from the moisture sensor. The module will be used in the science app. Make sure to develop off of the app-structure-redesign branch.

Prerequisite: #382 is merged.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rover+Apps+Structure

[2021-06-19 05:05] cindyli-13 opened #387 "Create watchdog module"
Create a module to make use the watchdog library (common to all apps). This should either refactor and make use of our current `WatchdogWrapper` library, or migrate the `WatchdogWrapper` implementation to the module. Make sure to develop off of the `app-structure-redesign` branch.

Prerequisite: #382 is merged.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rover+Ap

[2021-06-19 05:09] cindyli-13 opened #388 "Create LED matrix module"
First determine if an LED matrix module is necessary, and how it can be designed. This will only be part of the pdb app.

Prerequisite: #382 is merged.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rover+Apps+Structure

[2021-06-30 22:50] #300 closed

[2021-07-05 17:54] jahnavithota2011 opened #390 "Create PDB monitoring module"
Create PDB monitoring module (includes load, rail, and temperature monitoring)

Prerequisite: #382 is merged.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rover+Apps+Structure

[2021-07-11 14:10] #241 closed

[2021-08-30 15:09] #390 closed

[2021-08-30 15:09] #387 closed

[2021-08-30 15:10] cindyli-13 commented on #384
Don't need this module anymore

[2021-08-30 15:10] #384 closed

[2021-08-30 15:11] cindyli-13 opened #396 "Create arm controller module"
Create controller module for arm. These would bundle all actuator controller logic into one module. You should be familiar with the actuator controller libraries before taking on this task. Make sure to develop off of the app-structure-redesign branch.

See confluence for project outline: https://wiki.uwaterloo.ca/display/UWRT/FW+Rover+Apps+Structure

[2022-01-07 22:27] wmmc88 opened #404 "Update cmake to use mbed_create_distro and latest mbed release"
This repo currently uses a fork of mbed feauture branch `feature-cmake-object-libraries` that was patched by me to pull in a fix for STM32 targets(which has since been officially released upstream), and then patched by @cindyli-13 to provide several can fixes(I don't think these fixes were merged upstream but @cindyli-13 can confirm).

According to discussion in https://github.com/ARMmbed/mbed-os/

[2022-01-10 11:10] 0xc0170 commented on #404
It would be the best to use `mbed_create_distro`. The feature branch is already way behind and it won't be integrated anytime soon. Did the feature branch work for you? i wonder how much effort it is to update to the latest release and use this create distro function instead.

[2022-01-14 23:23] cindyli-13 commented on #404
The CAN patch was merged upstream actually in https://github.com/ARMmbed/mbed-os/pull/14612

[2022-01-15 17:21] wmmc88 commented on #404
So we should be able to go back to using mainline mbed, right? no other patches we made that havent been upstreamed already?

[2022-01-16 17:17] cindyli-13 commented on #404
As far as I'm aware yes. Unless there were patches other than the CAN patch that aren't in mainline.

[2022-10-07 02:07] shivam-sh opened #442 "Mac onboarding points to the wrong homebrew tap"

[2022-10-07 16:34] #442 closed